:root {
    /* custom properties */
    --white: #fff;
    --dark: #100423;
    --primary: #e3c8ab;
    --secondary: #dab292;
    --dark-gray:#585065;
  
    --title: 3.8rem;
    --subtitle: 3rem;
}
  
html {
    font-size: 62.5%;
    box-sizing: border-box;
}
  
*,
*::before,
*::after {
    box-sizing: inherit;
}

body {
    font-size: 16px; /* 1 rem =  10px */
    font-family: 'Lato', sans-serif;
    color: var(--white);
    background-image: url(./images/background2png.png);
    background-size: cover;
    width: 100%;
    height: 170vh;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}

.title{
    display: flex;
    height: 100px;
    margin-top: -150px;
    
    
}
.title > h1 {
    margin: 0px;
    font-family: 'Lato', sans-serif;
    font-size: 80px;
    text-shadow: #100423 2px 0;
    line-height: 50px;
    color: var(--dark-gray);
} 

.app-container{
    width: 90%;
    height: 600px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 100px;
    margin-top: -420px;
    padding-left: 160px;
    padding-right: 160px;

}

.app-left{
    
    width: 45%;
    height: 600px;
    display: flex;
    align-items: center;
   
}

.glass-element{
    width: 450px;
    height: 450px;
    box-shadow: 0 0 2rem 0 rgba(0, 0, 0, 0.528); 
    border-radius: 20px;
    background: rgba(255, 255, 255, 0.1);
    backdrop-filter: blur(2px) saturate(70%) contrast(70%);
    display: flex;
  
}

.app-right{
    width: 500px;
    height: 600px;
    box-shadow: 0 0 2rem 0 rgba(0, 0, 0, 0.528); 
    border-radius: 20px;
    background: rgba(239, 213, 183, 0.7);
    backdrop-filter: blur(2px);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    font-size: 17px;
   
}

.glass-configuration{
    width: 90%;
    display: flex;
    flex-direction: column;
    margin-left: 20px;
    color: var(--white);
    font-weight: 600;
}

.glass-configuration > p{
    color: var(--dark-gray);
}
.glass-configuration > .color {
    background: var(--primary);
    width: 45px;
    height: 45px;

}

.css-code-container{
    width: 100%;
    height: fit-content;
    box-shadow: 0 0 2rem 0 rgba(0, 0, 0, 0.528); 
    border-radius: 20px;
    background: rgba(239, 213, 183, 0.7);
    backdrop-filter: blur(2px);
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-top: 70px;
    margin-bottom: 100px;

}

.css-code{
    width: 100%;
}

.css-code-container > p{
    color: var(--dark-gray);
    font-size: 20px;
    font-weight: 600;
    margin-left: 15px;
}

.css-code > p{
    color: var(--dark-gray);
    font-size: 17px;
    font-weight: 600;
    margin-left: 15px;
}

.info-css{
    width: 90%;
    color: var(--dark-gray);
    font-size: 17px;

    font-weight: 600;
    margin-left: 45px;
    line-height: 5px;
}


output{
    color: var(--dark-gray);
    font-size: 17px;
    margin-left: 85%;
}


input[type='range'] {
    display: block;
    width: 100%;
}
  
input[type='range']:focus {
    outline: none;
}
  
input[type='range'],
input[type='range']::-webkit-slider-runnable-track,
input[type='range']::-webkit-slider-thumb {
    -webkit-appearance: none;
}
  
input[type=range]::-webkit-slider-thumb {
    background-color: var(--dark-gray);
    width: 19px;
    height: 19px;
    border: 3px solid var(--dark-gray);
    border-radius: 50%;
    margin-top: -6px;
}
  
input[type=range]::-moz-range-thumb {
    background-color: var(--dark-gray);
    width: 13px;
    height: 13px;
    border: 3px solid var(--dark-gray);
    border-radius: 50%;
}
  
input[type=range]::-ms-thumb {
    background-color: var(--dark-gray);
    width: 19px;
    height: 19px;
    border: 3px solid var(--dark-gray);
    border-radius: 50%;
}
  
input[type=range]::-webkit-slider-runnable-track {
    background: var(--dark-gray);
    height: 7px;
    border-radius: 5px;
    -webkit-appearance: none;
    background-image:linear-gradient(to right, var(--secondary) calc(var(--value)*1%), black 0);
}
  
input[type=range]:focus::-webkit-slider-runnable-track {
    outline: none;
}
  
input[type=range]::-moz-range-track {
    -webkit-appearance: none;
    background-image:linear-gradient(to right, var(--secondary) calc(var(--value)*1%), black 0);
    height: 7px;
    border-radius: 5px;
}
  
input[type=range]::-ms-track {
    background: rgb(255, 255, 255); 
    height: 3px;
}

@media (max-width: 375px){

.title > h1 {
    font-size: 45px;
    line-height: 30px;
    margin-top: 80px;
} 

.app-container{
    width: 95%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 50px;
    

}

.app-left{
    
    width: 330px;
    height: 400px;
   
}

.glass-element{
    width: 260px;
    height: 260px;
    margin-left: 40px;
  
}

.app-right{
    width: 330px;
    height: 550px;
    font-size: 15px;
    margin-top: -20px;
}

.glass-configuration > .color {
    width: 35px;
    height: 35px;

}

.css-code-container > p{
    font-size: 15px;
}


.css-code > p{
    font-size: 12px;
    margin-top: -5px;
    
}

.info-css{
    width: 90%;
    font-size: 12px;
    line-height: 12px;
    
}


}